@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<figure>
	<h1>Magazedia</h1>
</figure>

<article>
	<p>
		<a href="/byte-volume-1-issue-1-september-1975">View the byte article</a><br /><br />
		<a href="/gq-style-usa-summer-2016">View the gq 2016 article</a><br />
		<a href="/gq-style-usa-summer-2017">View the gq 2017 article</a><br />
		<a href="/create:">Create New Article</a><br />
		<a href="/firehose:">View the Firehose</a><br />
	</p>

</article>


