@page
@model WikiWikiWorld.Web.Pages.Account.RegisterModel
@{
	ViewData["Title"] = "Register";
}

<figure>
	<h1>Register</h1>
</figure>

<article>
	<div>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			
			<div class="md3-field md3-filled">
				<input asp-for="Input.UserName" placeholder=" " />
				<label asp-for="Input.UserName"></label>
				<span class="md-line"></span>
			</div>
			<span asp-validation-for="Input.UserName" class="text-danger"></span>

			<div class="md3-field md3-filled">
				<input asp-for="Input.Email" placeholder=" " />
				<label asp-for="Input.Email"></label>
				<span class="md-line"></span>
			</div>
			<span asp-validation-for="Input.Email" class="text-danger"></span>

			<div class="md3-field md3-filled">
				<input asp-for="Input.Password" placeholder=" " />
				<label asp-for="Input.Password"></label>
				<span class="md-line"></span>
			</div>
			<span asp-validation-for="Input.Password" class="text-danger"></span>

			<div class="md3-field md3-filled">
				<input asp-for="Input.ConfirmPassword" placeholder=" " />
				<label asp-for="Input.ConfirmPassword"></label>
				<span class="md-line"></span>
			</div>
			<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

			<br />
			<button type="submit" class="button button-primary">Register</button>
		</form>
	</div>
</article>
