/* Reset - Modern CSS reset (https://piccalil.li/blog/a-more-modern-css-reset/) */

*,
*::before,
*::after
{
	box-sizing: border-box;
}

pre
{
	white-space: pre-wrap;
}

html
{
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	word-break: break-word;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd
{
	margin-block-end: 0;
}

ul[role='list'],
ol[role='list']
{
	list-style: none;
}

body
{
	min-height: 100vh;
	line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label
{
	line-height: 1.1;
}

h1, h2,
h3, h4
{
	text-wrap: balance;
}

a:not([class])
{
	text-decoration-skip-ink: auto;
	color: currentColor;
	display: inline-block; /* ensures consistent rendering */
	transition: box-shadow 0.1s;

    &:hover
    {
        box-shadow: 0 0 0 5px var(--color-primary);
        background-color: var(--color-primary);
    }
}

img,
picture
{
	max-width: 100%;
	display: block;
}

input, button,
textarea, select
{
	font-family: inherit;
	font-size: inherit;
}

textarea:not([rows])
	{
		min-height: 10em;
	}

:target
{
	scroll-margin-block: 5ex;
}
